/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/montserrat-v26-latin-300.woff2") format("woff2");
}
/* montserrat-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/montserrat/montserrat-v26-latin-300italic.woff2") format("woff2");
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v26-latin-regular.woff2") format("woff2");
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v26-latin-italic.woff2") format("woff2");
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v26-latin-500.woff2") format("woff2");
}
/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v26-latin-500italic.woff2") format("woff2");
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/montserrat-v26-latin-600.woff2") format("woff2");
}
/* montserrat-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/montserrat/montserrat-v26-latin-600italic.woff2") format("woff2");
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v26-latin-700.woff2") format("woff2");
}
/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v26-latin-700italic.woff2") format("woff2");
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat/montserrat-v26-latin-900.woff2") format("woff2");
}
/* montserrat-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat/montserrat-v26-latin-900italic.woff2") format("woff2");
}
.top-bg-gradient {
  position: absolute;
  z-index: -50;
  inset: -6rem 0 auto;
}

.hero-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 1212px;
  margin-left: auto;
  margin-right: auto;
}
.hero-highlight img {
  width: 28.375rem;
  height: 20.25rem;
  background-color: rgb(40, 38, 98);
  border-radius: 0.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero-highlight .hero-highlight-content {
  width: 44rem;
  font-weight: 500;
  color: rgb(252, 252, 252);
}
.hero-highlight .hero-highlight-content h1 {
  margin-bottom: 25px;
}
.hero-highlight .hero-highlight-content p {
  margin-bottom: 25px;
}
.hero-highlight .hero-highlight-content a {
  display: inline-block;
  padding: 1.25rem 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 3.125rem;
  background: linear-gradient(262deg, #FFE4F6 13.78%, rgba(255, 228, 246, 0.5) 90.82%);
  color: rgb(40, 38, 98);
}

.search {
  width: 1212px;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 205px;
  border-radius: 35px;
  background: linear-gradient(264deg, rgba(151, 148, 233, 0.1) 10.04%, rgba(252, 252, 252, 0.1) 90.3%);
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
}
.search h2 {
  color: rgb(252, 252, 252);
  text-align: center;
}
.search .search-bar {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 17px;
  border-radius: 50px;
  height: 70px;
  background-color: rgb(252, 252, 252);
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 3fr;
  gap: 0.1rem;
  align-self: flex-end;
  align-items: stretch;
  margin-top: auto;
  width: 100%;
  position: relative;
  padding: 0.15rem 0.15rem 0.15rem;
}
.search .search-bar input, .search .search-bar select {
  background-color: rgb(240, 240, 240);
  border: none;
  color: rgb(106, 106, 106);
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding-left: 0.3rem;
}
.search .search-bar input:focus, .search .search-bar select:focus {
  z-index: 5;
}
@media (prefers-color-scheme: dark) {
  .search .search-bar input[type=date]::-webkit-calendar-picker-indicator, .search .search-bar select[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
.search .search-bar > *:first-child {
  border-radius: 50px 0 0 50px;
}
.search .search-bar .passenger-and-details {
  display: flex;
  align-items: stretch;
  background-color: rgb(240, 240, 240);
  color: rgb(106, 106, 106);
  padding-right: 3.5rem;
  border-radius: 0 50px 50px 0;
  font-size: 13px;
}
.search .search-bar .passenger-and-details span {
  margin: auto 0;
}
.search .search-bar .passenger-and-details label {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.3rem;
}
.search .search-bar .passenger-and-details select {
  text-align: center;
  padding: 0;
}
.search .search-bar .search-btn {
  position: absolute;
  inset: 0 0 0 auto;
  border-radius: 100%;
  padding: 10px;
  aspect-ratio: 1/1;
  background-color: rgb(255, 228, 246);
  border: none;
}
.search .search-bar .suggestions {
  list-style-type: none;
  padding: 0;
  display: none;
  position: absolute;
  bottom: -1.75rem;
  border-radius: 50px;
}
.search .search-bar .suggestions li {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(252, 252, 252);
}
.search .search-bar .suggestions li:hover {
  background-color: rgb(240, 240, 240);
}

.reassurance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1112px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.5rem;
}
.reassurance .reassurance-row {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 3.875rem;
}
.reassurance .reassurance-row .reassurance-elt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-weight: 500;
}
.reassurance .reassurance-row .reassurance-elt img {
  width: 11.375rem;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
  transform: translateY(0);
}
.reassurance .reassurance-row .reassurance-elt img:hover {
  animation: flotter 2s ease-in-out infinite;
}
.reassurance a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 1.05rem 3.55rem;
  background-color: rgb(40, 38, 98);
  border-radius: 1.25rem;
  color: rgb(255, 228, 246);
}

.gray-bg {
  background-color: rgb(240, 240, 240);
}

.trajets {
  padding: 4.69rem 0;
  max-width: 100%;
  width: 100%;
}
.trajets .trajets-ctn {
  width: 1212px;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.trajets .trajets-ctn .trajets-left-cln h2 {
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.trajets .trajets-ctn .trajets-right-cln {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 80%;
}
.trajets .trajets-ctn .trajets-right-cln .trajet-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.12);
  padding: 3.55rem 1.55rem;
  border-radius: 1.25rem;
  background-color: rgb(252, 252, 252);
  transition: transform 0.3s ease;
  transform: translateY(0);
}
.trajets .trajets-ctn .trajets-right-cln .trajet-card h3 {
  font-size: 36px;
}
.trajets .trajets-ctn .trajets-right-cln .trajet-card img {
  width: 100px;
  aspect-ratio: 1/1;
}
.trajets .trajets-ctn .trajets-right-cln .trajet-card:hover {
  animation: flotter 2s ease-in-out infinite;
}

.CTA-App {
  background-image: url("../images/Accueil fond bas.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 12rem 0;
}
.CTA-App .CTA-App-content {
  width: 1212px;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: rgb(252, 252, 252);
  gap: 3.15rem;
}
.CTA-App .CTA-App-content img {
  max-width: 560px;
  border-radius: 20px;
}
.CTA-App .CTA-App-content .app-right-col {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.CTA-App .CTA-App-content .app-right-col a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 1rem 3rem;
  border-radius: 3.125rem;
  background: linear-gradient(86deg, #FFF1FA -7.22%, #BBB8FF 107.59%);
  color: rgb(40, 40, 40);
  width: 250px;
  text-align: center;
}

.CTA-Newsletter {
  width: 1112px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(252, 252, 252);
  position: relative;
  top: calc(-6.25rem - 75px);
  padding: 4.5rem 0 2rem;
  border-radius: 2.1875rem;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
}
.CTA-Newsletter .newsletter-heading {
  text-align: center;
  margin-bottom: 3.5rem;
}
.CTA-Newsletter form {
  border-radius: 3.125rem;
  border: solid 1px rgb(40, 38, 98);
  height: 70px;
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CTA-Newsletter form input {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 17px;
  border: none;
}
.CTA-Newsletter form input[type=email] {
  border-radius: 3.125rem 0 0 3.125rem;
  background: rgba(252, 252, 252, 0.58);
  padding: 1.5rem 1.8rem;
  color: rgb(40, 40, 40);
  width: 100%;
  outline: none;
}
.CTA-Newsletter form input[type=submit] {
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgb(252, 252, 252);
  border-radius: 3.125rem;
  padding: 0 2.25rem;
  background: linear-gradient(88deg, #FFE4F6 -11.62%, #282662 124.15%);
}

@keyframes flotter {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=index-styling.css.map */